:root {
    --paper-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    --button-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    --border-radius: 4px;
    --border-radius-list-item: 24px;
    --border-radius-circle: 50%;
    --paper-bg-accent: rgb(237, 239, 241);
    --paper-bg-highlighted: #a7b8be;
    --paper-bg: #fafafa;
    --paper-bg-contrast: #e4ebf2a8;
    --paper-bg-grid-header: #d0d0d0;
    --paper-bg-main-toolbar: #3c4d56;
    --mask-bg: rgba(222, 222, 234, 0.38);
    --paper-color: #3b3b3b;
    --paper-border-color: #cecbcb;
    --drawer-drag-button-shadow-right: -3px -4px 0px -5px rgba(0, 0, 0, 0.2), -3px -3px 4px -2px rgba(0, 0, 0, 0.14), 0px 3px 0px -8px rgba(0, 0, 0, 0.12);
    --drawer-drag-button-shadow-left: 3px -4px 0px -5px rgba(0, 0, 0, 0.2), 4px -2px 4px -2px rgba(0, 0, 0, 0.14), 0px 0px 0px -8px rgba(0, 0, 0, 0.12);
}

.ql-editor {
    min-height: 125px;
    overflow-y: auto;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    color: var(--paper-color);
    background-color: var(--paper-bg-accent);
}

.ql-toolbar.ql-snow {
    border: 1px solid var(--paper-bg-accent);
}

.ql-container.ql-snow {
    border: 0;
}

.x-autocontainer-innerCt pre {
    font-size: 11px;
    text-wrap: unset;
}

.x-autocontainer-form-item {
    margin: 10px 0;
}

body > .x-mask {
    background-color: var(--mask-bg);
}

/**
    @Links
 */
a {
    color: #a56cf0 !important;
    font-weight: 500;
}

/**
    @Login
 */

#logo img {
    filter: invert(.75);
}

#content, #contentBackground {
    background-color: var(--paper-bg);
}

#content input {
    border-radius: var(--border-radius);
    box-shadow: var(--paper-shadow) !important;
    color: var(--paper-color);
    background-color: var(--paper-bg-accent);
}

form#form-element input:-webkit-autofill,
form#form-element input:-webkit-autofill:hover,
form#form-element input:-webkit-autofill:focus,
form#form-element input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--paper-color) !important;
}

#content button {
    border-radius: var(--border-radius);
    box-shadow: var(--button-shadow) !important;
}

#footer {
    left: 130px;
}

/**
    @Grids @Tabs
 */
#pimcore_panel_tabs > .x-panel-bodyWrap > .x-panel-body > .x-tabpanel-child {
    border-color: var(--paper-border-color);
    background: var(--paper-bg);
}

.x-panel-default, .x-panel-header, .x-panel-body-default, div.x-border-layout-ct, div.x-border-layout-ct, .pimcore_main_accordion .x-panel-body, .pimcore_object_panel_edit .x-toolbar-default, .x-form-checkbox-default:before, .x-fieldset .x-fieldset-header, .pimcore_main_splitter, .pimcore_main_accordion .x-panel-header {
    background-color: var(--paper-bg);
    color: var(--paper-color);
}

.pimcore_main_accordion:has(#pimcore_panel_tree_left-bodyWrap) {
    padding-top: 8px;
    padding-left: 10px;
}

.pimcore_main_accordion:has(#pimcore_panel_tree_right-bodyWrap) {
    padding-top: 8px;
    padding-right: 10px;
}

.pimcore_main_accordion .x-panel-header.x-panel-header-collapsed {
    border-bottom: 0 !important;
}

.pimcore_main_accordion .x-accordion-hd .x-tool-img {
    display: none;
}

.pimcore_main_accordion .x-accordion-hd .x-panel-header-title {
    display: flex;
    align-items: center;
}

.pimcore_main_accordion .x-panel-header.x-panel-header-collapsed .x-title-text {
    font-weight: 500;
}

.pimcore_main_accordion .x-collapsed .pimcore_icon_main_tree_asset {
    filter: invert(1);
}

.x-tab.x-tab-active.x-tab-default, .x-keyboard-mode .x-tab-focus.x-tab-active.x-tab-default {
    background-color: var(--paper-bg-accent);
    top: 0;
}

.x-toolbar-default, .x-toolbar-text-default, .x-form-cb-label-default, .x-panel-header-title-default, .x-tab.x-tab-active.x-tab-default .x-tab-inner-default, .x-tab-inner-default, p, body, .pimcore_main_accordion .x-collapsed .x-panel-header .x-title-text {
    background-color: inherit;
    color: var(--paper-color);
}

.x-panel-default.x-tabpanel-child {
    border-top: 0;
}

.pimcore_main_accordion .x-panel-header .x-title-text {
    color: var(--paper-color);
}

.pimcore_main_accordion {
    z-index: 2;
    outline: 1px solid var(--paper-bg);
}

.pimcore_main_accordion .x-panel-header {
    background-color: var(--paper-bg-accent) !important;
    border-radius: var(--border-radius-list-item);
}

.pimcore_main_accordion .x-panel .x-collapsed {
    background-color: var(--paper-bg) !important;
    border-radius: 0;
}

.pimcore_main_accordion .x-panel .x-collapsed:hover {
    background-color: var(--paper-bg-accent) !important;
    border-radius: var(--border-radius-list-item);
}

.x-toolbar-default .x-form-trigger-wrap-default {
    min-width: unset;
}

.x-grid-header-ct .x-box-inner:has(.x-box-target:not(:empty)) {
    min-height: unset;
}

.pimcore_object_grid_panel .x-grid-header-ct, .x-column-header {
    padding: 4px 0;
}

.x-column-header {
    padding: 8px 0;
}

.x-grid-with-row-lines .x-grid-item {
    padding: 8px 0;
    border-color: var(--paper-bg-accent);
}

.x-grid-with-row-lines .x-grid-item:first-child {
    border-top-color: var(--paper-bg-accent);
}

.grid_value_inherited {
    background: transparent url(/bundles/pimcoreadmin/img/inheritance-indicator.png) top left no-repeat !important;
}

.x-grid-body {
    border-top-color: var(--paper-bg);
}

.pimcore_toolbar_border_bottom {
    border-bottom: 1px solid var(--paper-bg) !important;
}

.x-form-display-field-default {
    color: var(--paper-color);
}

.x-form-search-trigger {
    border-radius: 4px;
}

.pimcore_object_panel_edit .x-toolbar-default {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 6px 8px 6px;
    min-width: 320px;
    margin-bottom: 4px;
    width: 100% !important;
}

.objectlayout_element_tabpanel .x-panel-header-default-horizontal.x-header-noborder {
    padding: 0 12px 0 12px;
    margin-bottom: 16px;
}

.x-autocontainer-innerCt {
    background-size: 60%;
    overflow: auto;
    background: inherit;
}

.x-toolbar-default .x-box-menu-after {
    align-self: baseline;
}

.x-box-inner:has(.x-btn), .x-box-inner:has(.x-form-item) {
    min-height: 35px;
}

.x-tab-bar-default {
    height: 40px;
}

.x-tab {
    height: 32px;
}

.x-box-scroller-toolbar-default.x-box-scroller-left, .x-box-scroller-toolbar-default.x-box-scroller-right {
    top: 24px;
}

.x-grid-with-row-lines .x-grid-item, .x-grid-item-container {
    width: 100% !important;
}

.x-grid-item.x-grid-item-selected {
    background-color: var(--paper-bg-highlighted);
}

.x-panel .x-panel-default-outer-border-trl, .x-panel .x-panel-default-outer-border-trb, .x-panel .x-panel-default-outer-border-trl, .x-panel .x-panel-default-outer-border-rbl, .pimcore_object_panel_edit .x-panel-default-outer-border-trbl  {
    border-color: var(--paper-border-color) !important;
}

.x-panel-default {
    background: var(--paper-bg);
    border-color: var(--paper-bg-accent);
}

.x-border-item {
    border-right: 1px solid var(--paper-bg-accent);
}

.x-panel-default.x-tabpanel-child {
    z-index: 0;
}

/**
    @DropdownMenus
 */
.x-menu-body-default {
    background-color: var(--paper-bg-contrast);
}

.x-menu-item-default {
    border-top: none;
}

.x-menu-item-default .x-menu-item-active {
    background-color: var(--paper-bg-highlighted) !important;
}

.pimcore_navigation_flyout .x-menu-item-icon-default {
    color: var(--paper-color);
    filter: invert(.75);
}

.x-menu-item .x-menu-item-text-default, .x-menu-item-active .x-menu-item-text-default, .x-menu-item-active .x-menu-item-arrow-default {
    color: var(--paper-color);
}

/**
    @Tabs
 */
.x-tab, .x-tab.x-tab-active, .x-tab-over {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.pimcore_editor_tabbar .x-tab {
    border-left: 0;
    height: 34px;
}

/**
    @Forms
 */

.x-panel-header-default-horizontal .x-panel-header-title {
    margin-bottom: 8px !important;
}

.x-form-item-label-default {
    background-color: var(--paper-bg);
    color: var(--paper-color);
}

.x-form-type-checkbox {
    background-color: var(--paper-bg);
}

.x-form-item-body-default:has(.x-form-type-checkbox), .x-form-item-body-default {
    background-color: var(--paper-bg);
}

.x-form-field {
    min-width: 32px;
}

.x-form-text-default {
    background-color: inherit;
    color: var(--paper-color);
}

.pimcore_droptarget_display div {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/target.svg) right 5px center / 20px no-repeat var(--paper-bg-accent) !important;
}

.x-form-trigger-wrap-focus {
    border: none;
}

.x-form-item-label {
    width: 170px !important;
    min-width: 170px !important;
}

.x-form-item-label-inner {
    width: unset !important;
}

.x-form-trigger-wrap-default {
    border-radius: var(--border-radius);
    background-color: var(--paper-bg);
    color: var(--paper-bg-accent);
    border-color: transparent;
    box-shadow: var(--paper-shadow);
}

.x-form-trigger-default {
    background-color: var(--paper-bg);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.x-form-trigger-wrap:has(.x-form-trigger-default) .x-form-text-wrap {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.x-tbar-page-number .x-form-trigger-wrap:has(.x-form-trigger-default) .x-form-text-wrap {
    border-radius: var(--border-radius);
}

.x-form-spinner-default {
    background-color: inherit;
}

.x-form-text-field-body-default {
    max-width: 200px;
}

.x-fieldset-body .x-box-inner {
    width: 100% !important;
    min-width: 400px;
}

.pimcore_droptarget_display.x-form-trigger-wrap-default {
    box-shadow: unset;
}

.x-form-text-wrap {
    border-radius: var(--border-radius);
    background-color: var(--paper-bg-accent);
}

.pimcore_droptarget_display div {
    box-shadow: var(--paper-shadow);
    border-radius: var(--border-radius);
    color: var(--paper-color);
}

.objectlayout_element_Layout .objectlayout_element_panel, .objectlayout_element_Layout .objectlayout_element_panel .x-panel-bodyWrap .x-panel-body-default, .objectlayout_element_Layout .objectlayout_element_panel .x-panel-bodyWrap .x-autocontainer-outerCt {
    width: 100%;
}

.pimcore_editable_wysiwyg {
    min-height: 150px;
}

.object_field_type_multiselect .x-autocontainer-innerCt:has(.x-boundlist) {
    box-shadow: var(--button-shadow);
    border-radius: var(--border-radius);
}

.x-boundlist {
    border: 0;
    background: inherit;
}

.x-boundlist-item {
    border-color: var(--paper-bg-accent);
    color: var(--paper-color);
    background-color: var(--paper-bg);
}

.x-boundlist-selected {
    color: var(--paper-color);
    background-color: var(--paper-bg-highlighted);
}

.x-panel-header-horizontal, .x-tab.x-tab-active.x-tab-default, .x-tab-bar-top .x-tab-bar-strip-default {
    border-color: var(--paper-border-color) !important;
}

.x-fieldset {
    border-top: 1px solid var(--paper-bg-accent) !important;
}

.x-fieldset-default {
    border: 1px solid var(--paper-bg-accent);
}

/**
    @Drawers
 */
.x-tree-icon {
    transform: scale(1.25);
    z-index: 1;
}

.x-tree-view .x-grid-cell-inner-treecolumn, .pimcore_document_seo_tree .x-grid-cell-inner {
    padding: 8px 6px 3px 0;
    height: 28px;
}

.x-tree-view .x-grid-item, .x-grid-item {
    background-color: var(--paper-bg);
    color: var(--paper-color);
}

.x-grid-item-alt {
    background-color: var(--paper-bg-accent);
}

.x-keyboard-mode .x-tab-focus.x-tab-active.x-tab-default {
    color: var(--paper-color) !important;
}

.x-keyboard-mode .x-grid-item-focused {
    color: var(--paper-color) !important;
}

.x-keyboard-mode .x-tab-over.x-tab-default {
    color: var(--paper-color) !important;
    background-color: var(--paper-bg-highlighted) !important;
}

.x-keyboard-mode .x-tab-over.x-tab-active {
    color: var(--paper-color) !important;
    background-color: var(--paper-bg-accent) !important;
}

.x-tree-view .x-grid-item.x-grid-item-selected {
    background-color: var(--paper-bg-accent);
    color: var(--paper-color);
}

.x-grid-with-row-lines .x-grid-item.x-grid-item-over {
    background-color: var(--paper-bg-highlighted);
}

.x-tree-view .x-grid-item.x-grid-item-over {
    background-color: var(--paper-bg-highlighted);
    color: var(--paper-color);
}

.pimcore_main_splitter  {
    box-shadow: none !important;
}

.pimcore_main_splitter .x-collapse-el {
    background-color: var(--paper-bg);
}

.x-layout-split-left:before {
    content: '\f0d7';
    background-color: var(--paper-bg);
    border-radius: 20px 20px 0 0;
}

.x-layout-split-right:before {
    content: '\f0d7';
    background-color: var(--paper-bg);
    border-radius: 20px 20px 0 0;
}

.x-splitter-collapsed .x-layout-split-left:before, .x-splitter-collapsed .x-layout-split-right:before {
    content: '\f0d8';
}

.x-layout-split-left {
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 24px;
    position: absolute;
    z-index: 3;
    left: -2px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    transform: rotate(90deg);
    background-color: var(--paper-bg);
    border-bottom: 0;
    box-shadow: var(--drawer-drag-button-shadow-left);
}

.x-layout-split-right {
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: -2px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    transform: rotate(-90deg);
    background-color: var(--paper-bg);
    border-bottom: 0;
    box-shadow: var(--drawer-drag-button-shadow-right);
}

.x-splitter-vertical {
    z-index: 1;
    outline: 1px solid var(--paper-bg);
}

.x-splitter-vertical:has(#pimcore_panel_tree_right-splitter-collapseEl), .x-splitter-vertical:has(#pimcore_panel_tree_left-splitter-collapseEl) {
    box-shadow: var(--button-shadow) !important;
}

.x-keyboard-mode .x-splitter-focus::after {
    border: none !important;
}

.x-boundlist-item .x-boundlist-selected {
    border-bottom: 1px solid #000;
}

.object_value_inherited .x-form-field:has(.x-form-cb-input[type="checkbox"]) {
    background-color: var(--paper-bg) !important;
}

.object_value_inherited .x-form-field, .object_value_inherited .x-form-display-field {
    background-color: var(--paper-bg-accent) !important;
    opacity: 1 !important;
}

.object_value_inherited {
    opacity: 1 !important;
}

/**
 * @Images
 */
.object_field_name_image {
    min-width: 320px;
}

.object_field_type_imageGallery {
    min-height: 210px;
}

.object_field_type_hotspotimage .x-panel-bodyWrap .x-toolbar, .object_field_type_image .x-panel-bodyWrap .x-toolbar {
    min-width: 150px;
}

.object_field_type_imageGallery .x-panel-bodyWrap .x-panel-body .x-autocontainer-outerCt .x-autocontainer-innerCt .x-panel-default .x-panel-bodyWrap {
    display: flex;
    justify-content: center;
}

.object_field_type_hotspotimage .x-panel-bodyWrap .x-panel-body .x-autocontainer-outerCt .x-autocontainer-innerCt .pimcore_droptarget_image {
    height: 100% !important;
}

.pimcore_image_container {
    width: auto !important;
}

/*
 * @Main-Toolbar
 */
.pimcore_main_toolbar .x-box-inner:has(.x-box-target:not(:empty)) {
    min-height: 48px;
}

.pimcore_main_toolbar.x-toolbar-default, .pimcore_editor_tabbar {
    background-color: var(--paper-bg-main-toolbar);
    color: var(--paper-color);
}

.pimcore-workflow-place-indicator {
    border-radius: var(--border-radius);
}

.pimcore_main_toolbar .x-toolbar-text, .pimcore_main_toolbar .x-form-cb-label  {
    color: var(--paper-bg);
}

.pimcore_main_toolbar .x-btn {
    background-color: var(--paper-bg-main-toolbar) !important;
}

.pimcore_main_toolbar .x-btn-over {
    background-color: var(--paper-bg-highlighted) !important;
}

.pimcore_main_toolbar .pimcore_save_button {
    background-color: #28a050 !important;
}

.pimcore_editor_tabbar .x-tab.x-tab-active + .x-tab, .pimcore_editor_tabbar .x-tab:first-child, .pimcore_editor_tabbar .x-tab.x-tab-active, .pimcore_editor_tabbar .x-tab-focus.x-tab-over.x-tab-default {
    border: none;
}

.pimcore_editor_tabbar .x-tab.x-tab-active .x-tab-inner-default, .pimcore_editor_tabbar .x-tab.x-tab-over .x-tab-inner-default {
    color: var(--paper-color) !important;
}

.pimcore_editor_tabbar .xtab.x-tab-over, .x-tab-over.x-tab-default.x-tab-over, .pimcore_editor_tabbar .x-tab {
    background-color: var(--paper-bg-main-toolbar);
}

.pimcore_editor_tabbar .x-tab.x-tab-active {
    background-color: var(--paper-bg) !important;
}

.pimcore_editor_tabbar .x-tab.x-tab-active .pimcore_material_icon, .pimcore_editor_tabbar .x-tab.x-tab-over .pimcore_material_icon {
    filter: invert(.75);
}

/**
 * @Main-Panel
 */
#pimcore_panel_tabs > .x-panel-bodyWrap > .x-tab-bar .x-tab-active .x-tab-close-btn, #pimcore_panel_tabs > .x-panel-bodyWrap > .x-tab-bar .x-tab-close-btn {
    background-color: inherit;
}

#pimcore_panel_tabs > .x-panel-bodyWrap > .x-tab-bar .x-tab-inner-default {
    color: var(--paper-color);
}

#pimcore_panel_tabs > .x-panel-bodyWrap > .x-tab-bar .x-tab-active .x-tab-inner-default {
    color: var(--paper-color);
}

#pimcore_panel_tabs > .x-panel-bodyWrap > .x-tab-bar > .x-tab-bar-body .x-tab {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: unset;
    background-color: var(--paper-bg-contrast);
}

#pimcore_panel_tabs > .x-panel-bodyWrap > .x-tab-bar, .x-body .sf-minitoolbar, #pimcore_loading.loaded, #pimcore_body {
    background-color: var(--paper-bg-main-toolbar) !important;
}

#pimcore_panel_tabs > .x-panel-bodyWrap > .x-tab-bar .x-tab-bar-body .x-tab-active {
    background-color: var(--paper-bg) !important;
    border-color: var(--paper-bg) !important;
}

#pimcore_panel_tabs > .x-panel-bodyWrap > .x-tab-bar > .x-tab-bar-body .x-tab-active + .x-tab, #pimcore_panel_tabs > .x-panel-bodyWrap > .x-tab-bar > .x-tab-bar-body .x-tab {
    border: 0;
}

/**
 * @Navigation
 */
#pimcore_navigation ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
}

#pimcore_navigation li {
    border-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pimcore_navigation li:hover, #pimcore_navigation li:focus, #pimcore_navigation li.active {
    background-color: transparent;
}

.x-menu-item-main-icon {
    position: relative;
    width: 36px;
    height: 36px;
    top: unset;
    left: unset;
}

#pimcore_navigation li .x-menu-item-icon:hover, #pimcore_navigation li .x-menu-item-icon:focus {
    background-color: var(--paper-bg-highlighted) !important;
    padding: 8px;
    border-radius: var(--border-radius);
}

.pimcore_navigation_flyout, .x-menu {
    border-radius: var(--border-radius);
    box-shadow: var(--paper-shadow);
}

/**
 * @Buttons
 */
.x-btn {
    border-radius: var(--border-radius);
    box-shadow: var(--button-shadow) !important;
    background-color: var(--paper-bg-contrast) !important;
    border-color: var(--paper-bg-accent);
}

.x-btn-over {
    background-color: var(--paper-bg-highlighted) !important;
    border: 0;
}

.x-btn-wrap-default-toolbar-small.x-btn-split-right > .x-btn-button:after {
    border-right: 1px solid var(--paper-bg-accent);
}

.x-btn:not(:last-child) {
    margin-right: 4px;
}

.x-btn-inner-default-toolbar-small {
    color: var(--paper-color);
}

.x-btn-wrap-default-toolbar-small.x-btn-split-right:after {
    color: var(--paper-color);
    padding-left: 3px;
}

.x-btn-inner-default-small {
    color: var(--paper-color);
}

/**
 * @Pagination
 */
.pimcore_pagingtoolbar_container .x-toolbar .x-box-inner:has(.x-box-target:not(:empty)) {
    min-height: 32px;
    padding: 0 2px;
}

.pimcore_pagingtoolbar_container {
    min-height: 32px;
}

.pimcore_pagingtoolbar_container .x-toolbar {
    height: 32px !important;
}

.pimcore_pagingtoolbar_container .x-toolbar .x-box-target {
    position: relative !important;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.x-grid-tree-node-expanded {
    height: 32px;
}

.x-tree-view .x-grid-cell-inner-treecolumn, .pimcore_document_seo_tree .x-grid-cell-inner {
    padding: 4px 0 0 0;
    height: 32px;
}

.pimcore_pagingtoolbar_container .x-toolbar .x-box-item {
    top: 0 !important;
    left: 0 !important;
    white-space: nowrap;
    height: 24px;
    width: 24px;
}

.pimcore_pagingtoolbar_container .x-toolbar-spacer {
    background-color: var(--paper-bg);
    width: 0 !important;
}

.x-btn-icon-el.x-tbar-page-filter:before {
    position: relative;
    top: unset;
    left: unset;
}

.x-btn-icon-el.x-tbar-page-first:before, .x-btn-icon-el.x-tbar-page-prev:before, .x-btn-icon-el.x-tbar-page-next:before, .x-btn-icon-el.x-tbar-page-last:before {
    position: relative;
    font-size: 14px;
    font-weight: bolder;
}

.pimcore_pagingtoolbar_container .x-form-trigger-wrap-default {
    border-color: transparent !important;
}

.pimcore_pagingtoolbar_container .x-form-text-default {
    height: 24px;
}

/**
 * @Modal
 */
.x-window-header-default {
    height: 40px;
    color: var(--paper-color);
    border-width: 0 !important;
    top: 0;
    left: 0;
}

.x-window-header-default {
    border-color: var(--paper-bg-accent);
    background-color: var(--paper-bg-accent);
}

.x-window-default {
    border-radius: var(--border-radius);
    box-shadow: var(--paper-shadow);
    border: none;
}

.x-tool-close {
    color: var(--paper-color);
}

.x-window-body-default {
    top: 0 !important;
    margin-top: 38px;
    background-color: var(--paper-bg);
    color: var(--paper-color);
}

.x-message-box .x-window-body {
    background-color: var(--paper-bg);
}

.x-toolbar-footer, .x-window-default {
    background-color: var(--paper-bg);
}

.x-window-header-title-default > .x-title-text-default {
    color: var(--paper-color);
}

/**
 * @Menu
 */
.x-menu-default {
    background: var(--paper-bg-main-toolbar);
}

.x-menu-item-active {
    background: var(--paper-bg-highlighted) !important;
}